<h1>Editing Categoria</h1>
<%= render 'form', categoria: @categoria %>
<br>

<%= link_to 'Show', @categoria, class:"btn btn-primary" %> 
<%= link_to 'Back', categorias_path, class:"btn btn-primary" %>
