<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @categoria.nome %>
</p>

<%= link_to 'Edit', edit_categoria_path(@categoria), class:"btn btn-primary" %> 
<%= link_to 'Back', categorias_path, class:"btn btn-primary" %>
