<h1>Editing Funcionario</h1>

<%= render 'form', funcionario: @funcionario %>
<br>
<%= link_to 'Show', @funcionario, class:"btn btn-primary" %> 
<%= link_to 'Back', funcionarios_path, class:"btn btn-primary" %>
